
*{
    margin: 0;
    padding: 0;
 }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          PAGINA DE INICIO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#startBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
    
}
        .btnGroup{
            position: fixed;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
            padding: 7px 0px 7px 0px;
        }

        .btnI{color: #F89992;
        font-size: 200%;
        font-weight: bold;
        margin-right: -83px;
        margin-left: 64px;
        }    

        .btnR{
            color: #F89992;
            font-size: 200%;
            font-weight: bold;
            
        }
    #startTittle{
        display: flex;
        flex-direction: column;
        height:11px;
        text-align: center;
        align-items: flex-start;
        margin-top: 13%;
        margin-left: 1%;
        font-family: 'Pacifico', cursive;
        font-size: 700%;
        font-weight: 500;
        color: #F89992;
    }
    #startButton{
        position: absolute;
        font-family: 'Actor', sans-serif;
        font-size: 30px;
        font-weight: bolder;
                letter-spacing: 5px;
                text-align: center;
                color:white;
                width: 370px;
                height: 75px;
                border: 8px;
                background: #9AE7E8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                cursor: pointer;
                margin-top: 550px;
                margin-left: -378px;
                
            }
        
        #contenedorLogin {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 400px;
            background: #09798d;
            border: 1px solid #000000;
            box-sizing: border-box;
        }
        
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                            SELECTION PAGE 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
            
        
        #selection{
            width: 100%;
            height: 100%;
            position: absolute;
        }
        #waiterSection{
            background-color: #F89992;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            overflow: hidden;
            
        }
        /*#waiterPicture{
            background-image:url(./fotomesera.jpg);
        }*/
        #waiterButton{
        font-family: 'Actor', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 5px;
        text-align: center;
        color:white;
        width: 370px;
        height: 65px;
        border: 3px;
        background: #9AE7E8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        cursor: pointer;
        margin-top: 1%;
        margin-left: 30%;
    
    }
    #chefSection{
        background-color: #FBEB6D;
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0px;
        overflow: hidden;


    }
    #chefButton{
        font-family: 'Actor', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 5px;
        text-align: center;
        color:white;
        width: 370px;
        height: 65px;
        border: 3px;
        background: #9AE7E8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        cursor: pointer;
        margin-top: 1%;
        margin-left: 32%;
    
    }


#garzon{
    color: #000;
    margin-top: 30%;
    margin-left: 6%;
    background: #8DE4E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20%;
}
#cocinero{
    color: #000;
    background: #8DE4E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 60%;
    margin-top: -4%;
    width: 20%;
}

.botonBienvenida{
    color: #000;
    background: #8DE4E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 100%;
    margin-top: 50%;
    width: 52%;
    height: 20%;
}
#btn1{
    color: #000;
    background: #8DE4E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 100%;
    margin-top: 50%;
    width: 52%;
    height: 20%;
}
.imagenFondo{
    height: 100px   
}
.fondo{ 
    width: 670px;
    height: 710px;
    left: 0px;
    top: 0px;
    margin-left: -18%;
    margin-top: 10%;
}

.imagenSelection{
  width: 466px;
  height: 444px;
  border-radius: 15%;
  margin-top: 25%;
  margin-left: 25%;
}
