#contenedorLogin {
    background:#fee7e7;;
    border: 1px solid #000000;
    margin-top: 2%;
   }

.fondo2 {
  text-align: center;
  background-image: url(./TheCakeHouse.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
