App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: auto;
  height: auto;
}
  .App-menu__type {
  display: inline-block;
  border-radius: 5px;
  padding: 8px;
  text-transform: uppercase;
  background-color: #eee;
}
  .App-menu__item {
  display: inline-block;
  width:20%;
  margin: 1px;
  padding: 4px;
  border-radius: 11px;
  background-color: #F89992;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 10%;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 32px;
  text-align: center;  
}
  .App-menu__item span {
  display: block;
} 
 .App-list {
  padding: 44px;
  background:#E5E5E5;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
.App-list__total {
  padding: 6px 0;
  font-size: 25px;
}

.App-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.App-list__button:hover{
  background-color: #9AE7E8;
}
.App-list__button {
  font-family: 'Actor', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: white;
  width: 178px;
  height: 41px;
  border: 3px;
  background: #F89992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1%;
}
  .imagenPedido{
  width: 190px;
  height: 170px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 10%;
  margin-top: 5%;
}
.buttonSelection{
  font-family: 'Actor', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  width: 293px;
  height: 57px;
  border: 3px;
  background: #F89992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
}
.buttonSelection:hover {
  background-color: #9AE7E8;
}
.buttonDelete{
  font-family: 'Actor', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: white;
  width: 113px;
  height: 41px;
  border: 3px;
  background: #F89992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1%;
}
  .App-menu{
  display: inline;
}

.inputRegistro{
    padding: 18px 95px;
    border: 1px solid #ccc;
    margin-left: 12%;
    font-size: 20px;
}

.buttonEnviarPedido{
  font-family: 'Actor', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  width: 160px;
  height: 53px;
  border: 3px;
  background: #F89992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1%;
}

.buttonEnviarPedido:hover {
  background-color: #9AE7E8;
}